<h1>Onás</h1>
<p>
	Společnost vznikla na počátku roku 2013, kdy jsem se rozhodly zaplnit chybějící nabídku datového uložiště. Podobných služeb už na trhu je nespočet, ale my si myslíme, že přesto můžeme nabídnout něco co na tomto trhu chybí. Proto jsme se rozhodly spojit nabídku datového uložiště s dalšími službami. Naše aplikace Cloud je schopna komunikovat se službami jako je Dropbox, Onecloud, iCloud, Google Drive, Google dokuments. Ve výsledku Vám naše aplikace umožní snadné procházení všech Vašich dokumentů a mnoho dalších věcí. <%= link_to 'Více informací zde', application_path %>. 

</p>