<h1>Co aplikace umí</h1>
<p>
Naše aplikace Cloud Vám umožní propojení uložišť jako jsou Dropbox, Onecloud, iCloud, Google Drive. (Není-li Vaše uložiště podporováno napište nám). Aplikace využívá služby google documents a umožní Vám snadné prohlížení, editaci a vytváření Vašich dokumentů ať už jsou uloženy na jakémkoliv podporovaném datovém uložišti. Aplikace dokáže přehrát i hudbu nebo videa. 
</p>