<h1>Nabídka pro firmy</h1>

<p>Poskytneme Vám nejen prostor, ale i komplexn ířešení zprávy Vašich dat. Dle varianty služby budete mít možnost vytvořit určitý počet účtů, které mezi sebou budou moci sídlet data. Každý účet má k dispozici soukromou část a sdílenou část s libovolným počtem uživatelů. Dále můžete využít firemní sidílený prostor</p>

<p>
Služba funguje tak že je stanoven správce pronajmuté služby, který se stará o vytváření účtů, přidělování práv a další věci spojené s fungováním datového uložiště. 	
</p>

<p>
Každý uživatel má k dispozici firemní prostor ve kterém může prohlížet, editovat, vytvářet soubory podle nastaveného oprávnění. Dále může sdílet soukromé soubory s ostatními uživateli. Možnosti záleží na oprávnění sdílení. 	
</p>

<p>
Sdílený prostor je dostupný na těchto platformách: Windows, Linux, Mac, iOS, Linux, Android, Windows phone.

</p>