<h1>Nabídka pro firmy</h1>

<p>Poskytneme Vám nejen prostor, ale i komplexn ířešení zprávy Vašich dat. Dle varianty služby budete mít možnost vytvořit určitý počet účtů, které mezi sebou budou moci sídlet data. Každý účet má k dispozici soukromou část a sdílenou část s libovolným počtem uživatelů. Dále můžete využít firemní sidílený prostor</p>

<p>
Služba funguje tak že je stanoven správce pronajmuté služby, který se stará o vytváření účtů, přidělování práv a další věci spojené s fungováním datového uložiště.
</p>

<p>
Každý uživatel má k dispozici firemní prostor ve kterém může prohlížet, editovat, vytvářet soubory podle nastaveného oprávnění. Dále může sdílet soukromé soubory s ostatními uživateli. Možnosti záleží na oprávnění sdílení.
</p>

<p>
Sdílený prostor je dostupný na těchto platformách: Windows, Linux, Mac, iOS, Linux, Android, Windows phone.
</p>

<h1>Seznam variant datového uložiště</h1>
<table class="table">

	<thead>
				<tr>
					<th class="col-md-4">Parametry</th>
					<th class="col-md-2">Basic</th>
					<th class="col-md-2">Clasic</th>
					<th class="col-md-2">Standard</th>
					<th class="col-md-2">Premium</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="col-md-4">Celková velikost</td>
					<td class="col-md-2">50 GB</td>
					<td class="col-md-2">100 GB</td>
					<td class="col-md-2">150 GB</td>
					<td class="col-md-2">500 GB</td>
				</tr>

				<tr>
					<td class="col-md-4">Počet účtů</td>
					<td class="col-md-2">100</td>
					<td class="col-md-2">500</td>
					<td class="col-md-2">1 000</td>
					<td class="col-md-2">Neomezený</td>
				</tr>

				<tr>
					<td class="col-md-4">Zálohování</td>
					<td class="col-md-2">Manuální</td>
					<td class="col-md-2">Manuální</td>
					<td class="col-md-2">Automatické</td>
					<td class="col-md-2">Automatické</td>
				</tr>

				<tr>
				<td class="col-md-4">Cena</td>
				<td class="col-md-2">5 000 Kč</td>
				<td class="col-md-2">9 000 Kč</td>
				<td class="col-md-2">15 000 Kč</td>
				<td class="col-md-2">28 000 Kč</td>
			</tr>
			</tbody>
</table>
