// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
htm, body {
width:800;
background:black;
color:white;
}

#layout {
    width:800px;
    background: black;
    color:white;
    }